@import url("https://use.typekit.net/rks8gfj.css");

@tailwind base;

@tailwind components;

/********************************Buttons*****************************/
.my-btn-default {
  @apply border border-indigo-900 py-2 px-6 mr-1 rounded-full bg-transparent text-myDark;
}

.my-btn-default:hover {
  /* @apply text-white border border-white bg-myBlue !important; */
}

.my-btn-primary {
  @apply py-2 px-6 mr-5 rounded-full bg-myBlue text-white text-base;
}

.my-btn-primary:hover {
  /* @apply text-indigo-900 border border-myDark bg-transparent text-myDark !important; */
}

.my-btn-primary-2 {
  @apply text-white py-2 px-6 rounded-full bg-myBlue;
}

.my-btn-primary-2:hover {
  @apply py-3 px-6;
}
/*******************************************************************/

/******************Typography**********************************/
.dark-head {
  @apply block font-extrabold text-5xl uppercase text-myDark font-myFont my-0 mx-0;
}

.head {
  @apply block font-extrabold text-4xl uppercase font-myFont;
}

.white-head {
  @apply block font-bold text-5xl uppercase text-white font-myFont;
}

.blue-head {
  @apply block font-bold text-5xl uppercase text-myBlue font-myFont;
}

.subhead {
  @apply block font-bold text-lg uppercase text-myDark font-myFont;
}

.sub {
  @apply block font-bold text-lg uppercase text-myDark font-myFont;
}

.white-subhead {
  @apply block font-bold text-base uppercase text-white font-myFont;
}

.txt1 {
  @apply block font-myFont text-base uppercase text-myDark;
}

.txt2 {
  @apply block font-myFont text-base capitalize text-myDark;
}

.txt3 {
  @apply block font-myFont text-base normal-case text-myDark mx-0;
}

.txt4 {
  @apply block font-myFont font-bold text-base capitalize text-myDark;
}

/***************************************************************************/

/*****************************Cards************************************/
.bigcard {
  @apply w-4/12 shadow-4xl box-border bg-myDark h-90 mx-0;
}

.fullcard {
  @apply m-0 w-4/12 p-0 p-0 box-border bg-myBlue h-full flex flex-col content-end items-baseline justify-end;
}

.thinfullcard {
  @apply m-0 w-2/12 p-0 box-border bg-myBlue h-full flex flex-col content-end items-baseline justify-end;
}

.wide-fullcard {
  @apply mx-auto my-5 max-w-xs pb-4 box-border bg-myBlue min-h-screen flex flex-col content-end items-baseline justify-end;
}

.textcard {
  @apply max-w-sm my-1 mx-4 ml-4 p-6 pb-2 flex flex-col content-center align-middle;
}

.textcard:hover {
  @apply shadow-lg;
}
/****************************************************************************/

/***********************************Input***********************************/
.my-input {
  border: none;
  border-bottom: solid rgba(255, 250, 250, 0.5) 0.5px;
  padding: 0;
  padding-bottom: 0.3rem;
  padding-top: 2 rem;
  color: #fff;
  opacity: 0.9;
  font-size: 1rem;
  font-family: "acumin-pro", Arial, Helvetica, sans-serif;
  letter-spacing: 0;
  line-height: 1.5rem;
  margin: 0;
  margin-bottom: 1rem;
  text-align: left;
  background: none;
}
/****************************************************************************/

/***********************************Containers********************************/
.txt-container {
  @apply block ml-0 my-0 ml-4 px-0 py-0 max-w-full;
}

.btn-container {
  @apply flex ml-0 my-2 pl-0 mb-1 w-4/6 content-center;
}

.icon-container {
  @apply flex ml-0 my-2 pl-0 mb-1 w-4/6 content-center;
}

.big-container {
  @apply flex flex-col content-between p-0 mb-4;
}

.container-pad {
  @apply flex flex-row items-center justify-end p-0 pr-8 mr-0 max-w-full w-4/6;
}

.full-container {
  @apply flex flex-row p-0 m-0 w-screen min-h-screen justify-start;
}

.portfolio {
  @apply flex;
}
/******************************************************************************/

/*****************************************Form***********************************/
.my-form {
  @apply bg-transparent max-w-full flex flex-col pl-0;
}
/********************************************************************************/

/***********************************Icons****************************************/
.my-icon {
  @apply mr-6 text-white;
}
/********************************************************************************/

/************************************meImage**************************************/
.meImage {
  @apply object-cover h-full w-full;
}
/*********************************************************************************/

/*********************Navigation***********************************/
.my-navbar {
  @apply flex items-center justify-end bg-transparent py-2 px-6 w-full;
}

.my-nav-container {
  @apply flex text-base justify-end flex-grow;
}

.nav-item {
  @apply mt-0 text-myBlue font-bold;
}

.nav-item:hover {
  text-decoration: overline;
}

.nav-item-box {
  @apply flex justify-end;
}

.active-nav {
  color: purple;
}

.unknown {
  @apply flex-grow justify-end;
}
/******************************************************************/

/*******************************Navigation*******************/

/*****************************************************************/
span {
  display: "flex";
  align-items: "center";
}

hr {
  color: blue;
  border: 3px solid blue;
  width: 150px;
  margin-right: 15%;
  z-index: 1;
  margin-left: -43.9%;
}

@media (max-width: 768px) {
  hr {
    display: none;
  }

  a {
    min-width: 40%;
    margin-right: 1rem;
  }

  .white-head {
    font-size: 16px;
  }

  .blue-head {
    font-size: 16px;
  }

  .my-btn-primary {
    padding: 0.5rem 1rem;
  }

  .my-btn-default {
    max-width: 100%;
    padding: 0.5rem 1rem;
  }

  .my-btn-primary {
    max-width: 100%;
    padding: 0.5rem 1rem;
  }

  .recent {
    min-width: 45vw;
    min-height: 400px;
  }

  .btn-container {
    margin: 0;
    margin-top: 2rem;
    width: 90%;
  }

  .full-container {
    display: flex;
    flex-direction: column-reverse;
    min-height: 0em;
  }

  .container-pad {
    width: 100%;
    justify-content: start;
    padding: 0;
    margin: 0;
    margin-top: 2rem;
    padding-left: 2rem;
  }

  .big-container {
    width: 100%;
    height: auto;
    /* padding: 2rem; */
  }

  .txt-container {
    width: 100%;
    padding-left: 0;
    padding-right: 2rem;
    margin-left: 0;
  }

  .bigcard {
    /* display: none; */
    position: relative;
    width: 100%;
    box-shadow: none;
  }

  .fullcard {
    width: 100%;
    padding-top: 2rem;
    margin-top: 2rem;
  }

  .textcard {
    padding: 2rem;
    max-width: 100%;
  }

  .thinfullcard {
    width: 100%;
    padding-top: 2rem;
  }

  .dark-head {
    font-size: xx-large;
  }

  .blue-head {
    font-size: xx-large;
  }

  .txt3 {
    padding-right: 2rem;
    font-style: italic;
  }

  .txt4 {
    margin-bottom: "0.5rem";
  }

  .head {
    font-size: large;
  }

  .not-yet {
    width: 35vw;
  }

  .resume-bgcontain {
    padding-top: "1rem";
    padding-left: "10rem";
    height: "10vh";
  }
}

@media (min-width: 769px) and (max-width: 1370px) {
  
  .dark-head {
    font-size: 32px;
  }

  .blue-head {
    font-size: 16px;
  }
  
  .thinfullcard {
    min-width: 30%;
  }

  .recent {
    min-width: 30vw;
    min-height: 400px;
  }

  .center {
    margin-left: 2rem;
  }

  .btn-container {
    margin: 0 8%;
  }
}

@media (min-width: 769px) and (max-width: 903px) {
  .fullcard {
    min-width: 40%;
  }

  .bigcard {
    position: absolute;
    left: 26.67%;
    top: 5%;
  }
}

@media (min-width: 904px) {
  .fullcard {
    min-width: 33.33%;
  }

  .bigcard {
    position: absolute;
    left: 22.22%;
    top: 5%;
  }
}

@media (min-width: 769px) {
  .bigcard {
    left: "22%";
    top: "5%";
  }

  .big-container {
    width: 60%;
  }

  .container-pad {
    justify-content: center;
    align-items: flex-start;
    padding-left: 20%;
    padding-top: 4rem;
  }

  .txt-container {
    margin-left: 0;
  }

  .btn-container {
    margin: 0;
    padding-left: 0;
  }

  .head {
    font-size: x-large;
  }
}

@tailwind utilities;
