@import url("https://use.typekit.net/rks8gfj.css");

@tailwind base;

@tailwind components;

@tailwind utilities;

/********************************Buttons*****************************/
.my-btn-default {
  @apply border border-indigo-900 py-2 px-6 rounded-full bg-transparent text-myDark;
}

.my-btn-default:hover {
  @apply text-white border border-white bg-myBlue;
}

.my-btn-primary {
  @apply text-white py-2 px-6 rounded-full bg-myBlue;
}

.my-btn-primary:hover {
  @apply text-indigo-900 border border-myDark bg-transparent text-myDark;
}

.my-btn-primary-2 {
  @apply text-white py-2 px-6 rounded-full bg-myBlue;
}

.my-btn-primary-2:hover {
  @apply py-3 px-6;
}
/*******************************************************************/

/******************Typography**********************************/
.dark-head {
  @apply block font-bold text-2xl uppercase text-myDark font-myFont my-6;
}

.blue-head {
  @apply block font-bold text-2xl uppercase text-myBlue font-myFont my-6;
}

.subhead {
  @apply block font-bold text-lg uppercase text-myDark font-myFont my-2;
}

.txt1 {
  @apply block font-myFont text-base uppercase text-myDark;
}

.txt2 {
  @apply block font-myFont text-base capitalize text-myDark;
}

.txt3 {
  @apply block font-myFont text-base normal-case text-myDark;
}

.txt4 {
  @apply block font-myFont font-bold text-base capitalize text-myDark;
}

/***************************************************************************/

/*****************************Cards************************************/
.bigcard {
  @apply mx-auto my-5 max-w-sm overflow-hidden shadow-2xl box-border bg-myDark min-h-allmost;
}

.textcard {
  @apply mx-auto max-w-md my-5 p-10 flex flex-col content-center align-middle;
}

.textcard:hover {
  @apply shadow-lg;
}
/****************************************************************************/


/***********************************Input***********************************/
.my-input {
    border: none;
    border-bottom: solid rgba(255, 250, 250, 0.7) 1px;
    opacity: 0.7;
    padding: 1rem;
    color: #fff;
    font-size: 1rem;
    font-family: 'acumin-pro', Arial, Helvetica, sans-serif;
    letter-spacing: 0;
    line-height: 1rem;
    margin: 0 auto;

}
/****************************************************************************/
